<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DemoSeverlet</servlet-name>
        <servlet-class>DemoSeverlet</servlet-class>\
        <init-param>
            <param-name>p</param-name>
            <param-value>1</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>DemoSeverlet2</servlet-name>
        <servlet-class>DemoSeverlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DemoSeverlet3</servlet-name>
        <servlet-class>DemoSeverlet3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginSeverlet</servlet-name>
        <servlet-class>LoginSeverlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DemoSeverlet</servlet-name>
        <url-pattern>/DemoSeverlet</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>o</param-name>
        <param-value>1</param-value>
    </context-param>
    <servlet-mapping>
        <servlet-name>DemoSeverlet2</servlet-name>
        <url-pattern>/caculate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DemoSeverlet3</servlet-name>
        <url-pattern>/DemoSeverlet3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginSeverlet</servlet-name>
        <url-pattern>/LoginSeverlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
