<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomeControl</servlet-name>
        <servlet-class>Controller.HomeControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadLapTop</servlet-name>
        <servlet-class>Controller.loadLapTop</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadSmartPhone</servlet-name>
        <servlet-class>Controller.loadSmartPhone</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>load</servlet-name>
        <servlet-class>Controller.load</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadAllAmountCart</servlet-name>
        <servlet-class>Controller.loadAllAmountCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkEmailExist</servlet-name>
        <servlet-class>Controller.checkEmailExist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>check</servlet-name>
        <servlet-class>Controller.check</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendOTP</servlet-name>
        <servlet-class>Controller.SendOTP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkOTP</servlet-name>
        <servlet-class>Controller.checkOTP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>Controller.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfile</servlet-name>
        <servlet-class>Controller.EditProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Signup</servlet-name>
        <servlet-class>Controller.Signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>shop</servlet-name>
        <servlet-class>Controller.shop</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>categoryShop</servlet-name>
        <servlet-class>Controller.categoryShop</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchAjaxShop</servlet-name>
        <servlet-class>Controller.searchAjaxShop</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchAjaxPriceMinToMax</servlet-name>
        <servlet-class>Controller.searchAjaxPriceMinToMax</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchAjaxPriceUnder100Shop</servlet-name>
        <servlet-class>Controller.searchAjaxPriceUnder100Shop</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchAjaxPrice100To200Shop</servlet-name>
        <servlet-class>Controller.searchAjaxPrice100To200Shop</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchAjaxPriceAbove200Shop</servlet-name>
        <servlet-class>Controller.searchAjaxPriceAbove200Shop</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resetpass</servlet-name>
        <servlet-class>Controller.resetpass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>detail</servlet-name>
        <servlet-class>Controller.detail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addReview</servlet-name>
        <servlet-class>Controller.addReview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addToCartByAjax</servlet-name>
        <servlet-class>Controller.addToCartByAjax</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addCart</servlet-name>
        <servlet-class>Controller.addCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>managerCart</servlet-name>
        <servlet-class>Controller.managerCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>totalMoneyCart</servlet-name>
        <servlet-class>Controller.totalMoneyCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addAmountCart</servlet-name>
        <servlet-class>Controller.addAmountCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>subAmountCart</servlet-name>
        <servlet-class>Controller.subAmountCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteCart</servlet-name>
        <servlet-class>Controller.deleteCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>order</servlet-name>
        <servlet-class>Controller.order</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>managerProduct</servlet-name>
        <servlet-class>Controller.managerProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add</servlet-name>
        <servlet-class>Controller.add</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadProduct</servlet-name>
        <servlet-class>Controller.loadProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete</servlet-name>
        <servlet-class>Controller.delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>edit</servlet-name>
        <servlet-class>Controller.edit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeControl</servlet-name>
        <url-pattern>/HomeControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadLapTop</servlet-name>
        <url-pattern>/loadLapTop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadSmartPhone</servlet-name>
        <url-pattern>/loadSmartPhone</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>load</servlet-name>
        <url-pattern>/load</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadAllAmountCart</servlet-name>
        <url-pattern>/loadAllAmountCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkEmailExist</servlet-name>
        <url-pattern>/checkEmailExist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>check</servlet-name>
        <url-pattern>/check</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendOTP</servlet-name>
        <url-pattern>/SendOTP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkOTP</servlet-name>
        <url-pattern>/checkOTP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfile</servlet-name>
        <url-pattern>/editProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signup</servlet-name>
        <url-pattern>/Signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>shop</servlet-name>
        <url-pattern>/shop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>categoryShop</servlet-name>
        <url-pattern>/categoryShop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchAjaxShop</servlet-name>
        <url-pattern>/searchAjaxShop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchAjaxPriceMinToMax</servlet-name>
        <url-pattern>/searchAjaxPriceMinToMax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchAjaxPriceUnder100Shop</servlet-name>
        <url-pattern>/searchAjaxPriceUnder100Shop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchAjaxPrice100To200Shop</servlet-name>
        <url-pattern>/searchAjaxPrice100To200Shop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchAjaxPriceAbove200Shop</servlet-name>
        <url-pattern>/searchAjaxPriceAbove200Shop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resetpass</servlet-name>
        <url-pattern>/resetpass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>detail</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addReview</servlet-name>
        <url-pattern>/addReview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addToCartByAjax</servlet-name>
        <url-pattern>/addToCartByAjax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addCart</servlet-name>
        <url-pattern>/addCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>managerCart</servlet-name>
        <url-pattern>/managerCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>totalMoneyCart</servlet-name>
        <url-pattern>/totalMoneyCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addAmountCart</servlet-name>
        <url-pattern>/addAmountCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>subAmountCart</servlet-name>
        <url-pattern>/subAmountCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteCart</servlet-name>
        <url-pattern>/deleteCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>order</servlet-name>
        <url-pattern>/order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>managerProduct</servlet-name>
        <url-pattern>/managerProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadProduct</servlet-name>
        <url-pattern>/loadProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>edit</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>HomeControl</welcome-file>
    </welcome-file-list>
</web-app>
